# Prerequisites
*.d

# Additional
XML-Project/MonoAPI/bin/
XML-Project/MonoAPI/obj/
XML-Project/MonoLibrary/bin/
XML-Project/MonoLibrary/obj/

# Visual Studio 2022 cache/options directory
XML-Project/.vs

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
